@import "tailwindcss";

@theme {
  --color-cyan-100: #f5eaed;
  --color-cyan-200: #ebd5db;
  --color-cyan-300: #e2c1ca;
  --color-cyan-400: #d8acb8;
  --color-cyan-500: #ce97a6;
  --color-cyan-600: #a57985;
  --color-cyan-700: #7c5b64;
  --color-cyan-800: #523c42;
  --color-cyan-900: #291e21;
}

.pixel {
  image-rendering: pixelated;
}
